<div class="menu">
    <ul class="menu">
        <li><a href="<?php echo $block->getUrl('*/cart/details'); ?>"><?php echo __('Cart'); ?></a></li>
        <li><a href="<?php echo $block->getUrl('*/customer/details'); ?>"><?php echo __('Customer'); ?></a></li>
        <li><a href="<?php echo $block->getUrl('*/order/details'); ?>"><?php echo __('Order'); ?></a></li>
        <li><a href="<?php echo $block->getUrl('*/session/details'); ?>"><?php echo __('Session'); ?></a></li>
    </ul>
</div>