<?php
    $section = $block->getSection();
    $caption = $section->getCaption();
    $subject = $section->getSubject();
?>
<div class="section">
    <div class="caption"><?php echo $caption; ?></div>
    <?php echo $block->renderSubject($subject) ?>
</div>