<?php
    $subject = $this->getSubject();
?>
<table class="data" cellspacing="0" cellpadding="0">
    <?php foreach ($subject as $key => $value): ?>
    <tr class="<?php echo $block->getRowClass(); ?>">
        <td class="key"><?php echo $key ?></td>
        <td class="value"><?php echo $block->literalToString($value) ?></td>
    </tr>
    <?php endforeach; ?>
</table>
