
body,td,tr {
    font-size: 11px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0px 10% 0px 5%;
}

h1 {
    font-size: 30px;
    color: #6d6e6c;
    margin: 0 0 30px 0;
}

h2 {
    font-size: 16px;
    color: #a4a5a3;
}


div.menu {
    width: 100%;
    margin: 0 0 30px 0;
    background: #b2b2b0;
}


div.notice {
    font-size: 16px;
    font-weight: bold;
    color: #de8200;
    margin: 10px 0px 30px 0;
}

div.menu::after {
    clear: both;
    content: ' ';
}

ul.menu {
    margin: 0 0 0px 0;
    padding: 0;

}

ul.menu::after {
    clear: both;
    content: ' ';
    display: block;
}

ul.menu li {
    float: left;
    padding: 0px;
    list-style-type: none;
    display: inline-block;
}

ul.menu li a {
    font: 14px Arial;
    font-weight: normal;
    color: #ffffff;
    display: block;
    line-height: 30px;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}




.details {
    width: 100%;
}

.group {
    margin: 0 0 30px 0;
    border-bottom: 1px solid #E1E1E1;
}

.group:after {
    margin: 0 0 30px 0;
    clear: both;
    display: block;
    position: relative;
    content: ' ';
}

.section {
    margin:0px 10px 20px 0px;
    border:1px solid #999;
    padding: 0px;
    float: left;
    _max-width: 400px;
}

.section .caption {
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #CCC;
    background: #F1F1F1;
}


table.data {
    padding: 5px;

}

table.data td {
    padding: 0px 10px 0px 0px;
    border: 0;
    vertical-align: top;
    text-align: left;
}

table.data td.key {
}

table.data td.value {
    text-align: right;
    padding-right: 0px;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

tr:hover {
    background: #00FFFF !important;
}

tr.odd {
    background: #FAFAFA;
}

tr.even {
    background: inherit;
}

.clear {
    clear: both;
}


.separator {
    border: 0;
    line-height: 1px;
    margin: 50px 0px;
    clear: both;
    border-bottom: 1px solid #AAA;
}