<?php
    $quote = ($block->isValidRequest()) ? $block->getQuote(): null;
    $quotes = $block->getQuotes();
    $sections = $block->getSections();
    $groups = $sections->getGroups();
?>

<h1><?php echo __('Cart Monitor') ?></h1>

<script type="text/javascript">
    function gotoCart(id) {

        if (!id) {
            return;
        }
        var url = '<?php echo $block->getUrl("*/*/*"); ?>id/'+id;
        window.location.href=url;
    }
</script>

<noscript>
    <div class="notice">Please turn on javascript</div>
</noscript>

<div class="actions">
    <form onsubmit="return false;">
        <?php echo __('Cart ID') ?> <select id="cart-select" onchange="window.gotoCart(this.value);">
            <option value=""><?php echo __('Chose a cart id..') ?></option>
            <?php foreach ($quotes as $item): ?>
                <option value="<?php echo $item->getId()?>" <?php echo ($item->getIsCurrent()) ? 'selected="selected"' : ''; ?> ><?php echo ($item->getIsCurrent()) ? '	&#x25B8;' : '&nbsp;'; ?> id <?php echo $item->getId()?> <?php echo ($item->getIsSession()) ? '- session' : ''; ?></option>
            <?php endforeach; ?>
        </select>
        &nbsp; #<input type="text" id="cart-id" class="" value="<?php echo ($quote) ? $quote->getId() : ''; ?>" onchange="gotoCart(this.value);" />
    </form>
</div>


<?php if (!$quote): ?>
    <div class="notice">
        <p><?php echo __('No cart-data available') ?></p>
    </div>
    <?php return; ?>
<?php endif ?>


<?php if ($sections->count()): ?>
<div class="details cart">
    <h2><?php echo __('Cart id %1', ($quote && $quote->getId()) ? $quote->getId()  : '-'); ?></h2>
    <?php foreach ($groups as $group): ?>
    <div class="group <?php echo strtolower($group); ?>">
        <?php $items = $sections->getGroupItems($group); ?>
        <?php foreach ($items as $section): ?>
            <?php echo $block->renderSection($section); ?>
        <?php endforeach; ?>
    </div>
    <?php endforeach; ?>
</div>
<?php endif ?>
