<?php
    $customer = $block->getCustomer();
    $customers = $block->getCustomers();
    $sections = $block->getSections();
    $groups = $sections->getGroups();
?>


<h1><?php echo __('Customer Monitor') ?></h1>

<script type="text/javascript">
    function gotoCustomer(id) {
        if (!id) {
            return;
        }
        var url = '<?php echo $block->getUrl("*/*/*"); ?>id/'+id;
        window.location.href=url;
    }
</script>

<noscript>
    <div class="notice"><?php echo __('Please turn on JavaScript!'); ?></div>
</noscript>

<div class="actions">
    <form onsubmit="return false;">
        <?php echo __('Customer ID') ?> <select id="customer-select" onchange="window.gotoCustomer(this.value);">
            <option value=""><?php echo __('Chose a customer id..') ?></option>
            <?php foreach ($customers as $item): ?>
                <option value="<?php echo $item->getId()?>" <?php echo ($item->getIsCurrent()) ? 'selected="selected"' : ''; ?> ><?php echo ($item->getIsCurrent()) ? '	&#x25B8;' : '&nbsp;'; ?><?php echo $item->getLabel()?><?php echo ($item->getIsSession()) ? ' - session' : ''; ?></option>
            <?php endforeach; ?>
        </select>
        &nbsp; #<input type="text" id="customer-id" class="" value="<?php echo ($customer) ? $customer->getId() : ''; ?>" onchange="gotoCustomer(this.value);" />
    </form>
</div>


<?php if (!$customer): ?>
    <div class="notice">
        <p><?php echo __('No customer loaded') ?></p>
    </div>
    <?php return; ?>
<?php endif ?>

<?php if ($sections->count()): ?>
    <div class="details cart">
        <h2><?php echo __('Customer id %1', ($customer && $customer->getId()) ? $customer->getId()  : '-'); ?></h2>
        <?php foreach ($groups as $group): ?>
            <div class="group <?php echo strtolower($group); ?>">
                <?php $items = $sections->getGroupItems($group); ?>
                <?php foreach ($items as $section): ?>
                    <?php echo $block->renderSection($section); ?>
                <?php endforeach; ?>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif ?>


