<?php
    $order = $block->getOrder();
    $orders = $block->getOrders();
    $sections = $block->getSections();
    $groups = $sections->getGroups();
?>


<h1><?php echo __('Order Monitor') ?></h1>

<script type="text/javascript">
    function gotoOrder(id) {
        if (!id) {
            return;
        }
        var url = '<?php echo $block->getUrl("*/*/*"); ?>id/'+id;
        window.location.href=url;
    }
</script>

<noscript>
    <div class="notice"><?php echo __('Please turn on JavaScript!'); ?></div>
</noscript>

<div class="actions">
    <form onsubmit="return false;">
        <?php echo __('Order ID') ?> <select id="order-select" onchange="window.gotoOrder(this.value);">
            <option value=""><?php echo __('Chose an Order id..') ?></option>
            <?php foreach ($orders as $item): ?>
                <option value="<?php echo $item->getId()?>" <?php echo ($item->getIsCurrent()) ? 'selected="selected"' : ''; ?> ><?php echo ($item->getIsCurrent()) ? '	&#x25B8;' : '&nbsp;'; ?><?php echo $item->getId()?> - <?php echo $item->getCustomerFirstname()?> <?php echo $item->getCustomerLastname()?></option>
            <?php endforeach; ?>
        </select>
        &nbsp; #<input type="text" id="order-id" class="" value="<?php echo ($order) ? $order->getId() : ''; ?>" onchange="gotoOrder(this.value);" />
    </form>
</div>


<?php if (!$order): ?>
    <div class="notice">
        <p><?php echo __('No order loaded') ?></p>
    </div>
    <?php return; ?>
<?php endif ?>


<?php if ($sections->count()): ?>
    <div class="details cart">
        <h2><?php echo __('Order id %1', ($order && $order->getId()) ? $order->getId()  : '-'); ?></h2>
        <?php foreach ($groups as $group): ?>
            <div class="group <?php echo strtolower($group); ?>">
                <?php $items = $sections->getGroupItems($group); ?>
                <?php foreach ($items as $section): ?>
                    <?php echo $block->renderSection($section); ?>
                <?php endforeach; ?>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif ?>

