<?php
    $sections = $block->getSections();
    $groups = $sections->getGroups();

?>

<h1><?php echo __('Order Monitor') ?></h1>

<noscript>
    <div class="notice"><?php echo __('Please turn on JavaScript!'); ?></div>
</noscript>


<?php if (!$sections): ?>
    <div class="notice">
        <p><?php echo __('No session loaded') ?></p>
    </div>
    <?php return; ?>
<?php endif ?>

<?php if ($sections->count()): ?>
    <div class="details cart">
        <h2><?php echo __('Session'); ?></h2>
        <?php foreach ($groups as $group): ?>
            <div class="group <?php echo strtolower($group); ?>">
                <?php $items = $sections->getGroupItems($group); ?>
                <?php foreach ($items as $section): ?>
                    <?php echo $block->renderSection($section); ?>
                <?php endforeach; ?>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif ?>

